{% extends "generic.twig" %}

{% block title %}Your Account{% endblock %}
{% block page_stylesheet %}
    <link rel="stylesheet" href="{{ static('css/account.css') }}" type="text/css">
{% endblock %}
{% block content %}
    <div id="account_homepage">
        <div id="'sidebar">
            <ul class="list-group">
                <li class="list-group-item"><a href="{{ url('account/edit') }}">Change Settings</a></li>
                <li class="list-group-item"><a href="{{ url('rooms') }}">My Rooms</a></li>
                <li class="list-group-item"><a href="{{ url('acount/logout') }}">Log out</a></li>
            </ul>
        </div>
        {% autoescape %}
            <div id="account_information">
                <h1>Account Information</h1>
                <img id='profile_picture' src="{{ static('images/placeholder_tenant.png') }}"
                     alt="The profile picture of the account">
                <h5><b>{{ firstname }} {{ lastname }}</b></h5>
                <p><b>{{ role }}</b></p>
                <p><b>Biography</b></p>
                <p>{{ biography }}</p>
                <table class="table table-borderd" id="account_info">
                    <tr>
                        <th>Username</th>
                        <td> {{ username }}</td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td> ********</td>
                    </tr>
                    <tr>
                        <th>Phone-number</th>
                        <td> {{ phone_number }}</td>
                    </tr>
                    <tr>
                        <th>email-address</th>
                        <td> {{ email }}</td>
                    </tr>
                    <tr>
                        <th>Language</th>
                        <td> {{ language }}</td>
                    </tr>
                    <tr>
                        <th>Birthdate</th>
                        <td> {{ birthdate }}</td>
                    </tr>
                    <tr>
                        <th>Occupation</th>
                        <td> {{ occupation }}</td>
                    </tr>
                </table>
            </div>
        {% endautoescape %}
    </div>
{% endblock %}

