{% extends "generic.twig" %}

{% block title %}Sign Up{% endblock %}
{% block page_stylesheet %}
    <link rel="stylesheet" href="{{ static('css/account_new.css') }}" type="text/css">
{% endblock %}
{% block content %}
    <div id="new_account_form">
        <h1>
            {% if not account_info %}
                Register
            {% else %}
                Edit Your Account
            {% endif %}
        </h1>
        <form action="" method="POST">
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" class="form-control" id="inputUsername"
                        {% if account_info %}
                            placeholder="{{ account_info.username }}"
                            disabled
                        {% else %}
                            placeholder="janjansen3"
                            name="username"
                        {% endif %}
                        {{ account_info.username }}
                       required>
            </div>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="text" class="form-control" id="inputEmail" placeholder="example@example.com" name="email"
                       value="{{ account_info.email }}" required>
            </div>
            {% if not account_info %}

                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="******" name="password"
                           required>
                </div>
                <div class="form-group">
                    <label for="inputPassword2">Password Validation</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="******"
                           name="password2"
                           required>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="inputFirstname">First name</label>
                <input type="text" class="form-control" id="inputFirstname" placeholder="Jan" name="first_name"
                       value="{{ account_info.first_name }}"
                       required>
            </div>
            <div class="form-group">
                <label for="inputLastname">Last name</label>
                <input type="text" class="form-control" id="inputLastname" placeholder="Jansen" name="last_name"
                       value="{{ account_info.last_name }}"
                       required>
            </div>


            <div class="form-group">
                <label for="inputPhoneNumber">Phone number</label>
                <input type="text" class="form-control" id="inputPhoneNumber" placeholder="0123456789"
                       name="phone_number" value="{{ account_info.phone_number }}"
                       required>
            </div>
            <div class="form-group">
                <label for="inputLanguage">Language</label>
                <input type="text" class="form-control" id="inputLanguage" placeholder="Dutch/English" name="language"
                       value="{{ account_info.language }}"
                       required>
            </div>
            <div class="form-group">
                <label for="inputBirthdate">Birthdate</label>

                <input type="date" class="form-control" id="inputBirthdate" placeholder="DD/MM/YYYY" name="birthdate"
                       value="{{ account_info.birthdate.date|date('Y-m-d') }}"
                       required>
            </div>
            <div class="form-group">
                <label for="inputBiography">Biography</label>
                <textarea name="biography" class="form-control" id="inputBiography"
                          placeholder="Enter Sth aboot yrslf">{{ account_info.biography }}</textarea>
            </div>
            <div class="form-group">
                <label for="inputOccupation">Occupation</label>
                <input type="text" class="form-control" id="inputOccupation" placeholder="Student/Scientist/Glasswasher"
                       name="occupation" value="{{ account_info.occupation }}" required>
            </div>
            <div class="form-group">
                <label for="inputRole">Role</label>
                <select name="role" class="form-control" id="inputRole" required>
                    <option value="" {{ role_default == '' ? 'selected' : '' }} disabled>Choose one:</option>
                    <option value="tennant" {{ role_default == 'tenant' ? 'selected' : '' }}>Tenant</option>
                    <option value="owner" {{ role_default == 'owner' ? 'selected' : '' }}>Owner</option>
                </select>

            </div>
            <button type="submit" class="btn btn-dark">
                {% if not account_info %}
                    Register now
                {% else %}
                    Save
                {% endif %}
            </button>
        </form>
    </div>
{% endblock %}

