{% extends "generic.twig" %}

{% block title %}Your Account{% endblock %}
{% block page_stylesheet %}
    <link rel="stylesheet" href="{{ static('css/account.css') }}" type="text/css">
{% endblock %}
{% block content %}
    <div id="account_homepage">
        <div id="sidebar">
            <ul class="list-group">
                <li class="list-group-item"><a href="{{ url('account/edit') }}"><i
                                class="fad fa-cog colored-icon fill"></i> Change Settings</a></li>
                {% if user.role == 'owner' %}
                    <li class="list-group-item"><a href="{{ url('rooms?filter=mine') }}"><i
                                    class="fad fa-list colored-icon fill"></i> My Rooms</a></li>
                    <li class="list-group-item"><a href="{{ url('rooms/new') }}"><i
                                    class="fad fa-plus colored-icon fill"></i> Add Room</a></li>
                {% else %}
                    <li class="list-group-item"><a href="{{ url('rooms?filter=mine') }}"><i
                                    class="fad fa-list colored-icon fill"></i> My Opt-Ins</a></li>
                {% endif %}
                <li class="list-group-item"><a href="{{ url('account/logout') }}"><i
                                class="fad fa-sign-out colored-icon fill"></i> Log out</a></li>
            </ul>
        </div>
        {% autoescape %}
            <div id="account_information">
                <h1>Account Information</h1>

                {% if user.picture %}
                    <img id='profile_picture' src="{{ uploads('user/' ~ user.picture) }}"
                         alt="The picture of the user">
                {% else %}
                    {% if user.role == 'tenant' %}
                        {% set role_img_loc = 'images/placeholder_tenant.png' %}
                    {% else %}
                        {% set role_img_loc = 'images/placeholder_owner.png' %}
                    {% endif %}

                    <img id='profile_picture' src="{{ static(role_img_loc) }}"
                         alt="The profile picture of the account">

                {% endif %}


                <h5><b>{{ user.first_name }} {{ user.last_name }}</b></h5>
                <p><b>{{ user.role }}</b></p>
                <p><b>Biography</b></p>
                <p>{{ user.biography }}</p>
                <table class="table table-borderd" id="account_info">
                    <tr>
                        <th>Username</th>
                        <td> {{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td> ********</td>
                    </tr>
                    <tr>
                        <th>Phone-number</th>
                        <td> {{ user.phone_number }}</td>
                    </tr>
                    <tr>
                        <th>email-address</th>
                        <td> {{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Language</th>
                        <td> {{ user.language }}</td>
                    </tr>
                    <tr>
                        <th>Birthdate</th>
                        <td> {{ user.birthdate|date('d-m-Y') }}</td>
                    </tr>
                    <tr>
                        <th>Occupation</th>
                        <td> {{ user.occupation }}</td>
                    </tr>
                </table>
            </div>
        {% endautoescape %}
    </div>
{% endblock %}

