{% extends "generic.twig" %}

{% block title %}Your reactions{% endblock %}
{% block content %}

<!-- hier een tabel toevoegen met of jouw reactiesop alle kamers -->
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
    <table class="tg">
        <tr>
            <th class="tg-0lax" colspan="2">View all your opt-ins below!<br></th>
        </tr>
        <tr>
            <th class="tg-0lax">Room:</th>
            <th class="tg-0lax">Your message:</th>
        </tr>
        {% for opt_in in all_info %}
            <tr>
                <td>
                    <h1>{{ opt_in.Room.street_name }} {{ opt_in.Room.number }}</h1>
                    {% if opt_in.Room.picture %}
                        <img id='room_picture' src="{{ uploads('room/' ~ opt_in.Room.picture) }}"
                             alt="The picture of the room">
                    {% else %}
                        <img id='room_picture' src="{{ static('images/room_placeholder.jpg') }}"
                             alt="A placeholder (because no picture was uploaded)">
                    {% endif %}

                </td>
                <td>{{  opt_in.message }}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}