{% extends "generic.twig" %}

{% block title %}Your reactions{% endblock %}
{% block content %}

    <!-- hier een tabel toevoegen met of jouw reacties op alle kamers -->
    <table class="table table-bordered">
        <tr>
            <th colspan="2">View all your opt-ins below!<br></th>
        </tr>
        <tr>
            <th>Room:</th>
            <th>Your message:</th>
            <th>State</th>
        </tr>
        {% for opt_in in all_info %}
            <tr>
                <td>
                    <h1>{{ opt_in.Room.street_name }} {{ opt_in.Room.number }}</h1>
                    {% if opt_in.Room.picture %}
                        <img id='room_picture' src="{{ uploads('room/' ~ opt_in.Room.picture) }}"
                             alt="The picture of the room">
                    {% else %}
                        <img id='room_picture' src="{{ static('images/room_placeholder.jpg') }}"
                             alt="A placeholder (because no picture was uploaded)">
                    {% endif %}

                    <a href="{{ url('rooms/' ~  opt_in.Room.room_id ) }}">
                        <button>got to room</button>
                    </a>
                </td>
                <td>{{ opt_in.message }}</td>
                <td>{{ opt_in.status }}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}