{% extends "generic.twig" %}

{% block title %}Your reactions{% endblock %}
{% block page_stylesheet %}
    <link rel="stylesheet" href="{{ static('css/opt_ins.css') }}" type="text/css">
{% endblock %}
{% block content %}
    <!--
    <div class="card">
        {% if opt_in.Room.picture %}
            <img id='room_picture' src="{{ uploads('room/' ~ opt_in.Room.picture) }}"
                 alt="The picture of the room">
        {% else %}
            <img id='room_picture' src="{{ static('images/room_placeholder.jpg') }}"
                 alt="A placeholder (because no picture was uploaded)">
        {% endif %}
    </div>
    -->

    <div id="optins">
        <h1>My opt-ins</h1>
        <!-- hier een tabel toevoegen met of jouw reacties op alle kamers -->
        <table class="table table-bordered">
            <tr>
                <th>Room:</th>
                <th>Available:</th>
                <th>Opt-in Date:</th>
                <th>Your message:</th>
                <th>State</th>
            </tr>
            {% for opt_in in all_info %}
                <tr>
                    <td>
                        <h3>{{ opt_in.Room.street_name }} {{ opt_in.Room.number }}</h3>
                        {% if opt_in.Room.picture %}
                            <div id="room_pic_div">
                                <img id='room_picture' src="{{ uploads('room/' ~ opt_in.Room.picture) }}"
                                     alt="The picture of the room">
                                <a id='roombutton' href="{{ url('rooms/' ~  opt_in.Room.room_id ) }}">
                                    <button class="square_button">Go to Room</button>
                                </a>
                            </div>
                        {% else %}
                            <div id="room_pic_div">
                                <img id='room_picture' src="{{ static('images/room_placeholder.jpg') }}"
                                     alt="A placeholder (because no picture was uploaded)">
                                <a id='roombutton' href="{{ url('rooms/' ~  opt_in.Room.room_id ) }}">
                                    <button class="square_button">Go to Room</button>
                                </a>
                            </div>
                        {% endif %}
                    </td>
                    <td>From {{ opt_in.Listing.available_from|date('d-m-Y') }}
                        {% if opt_in.Listing.available_to %}
                            to {{ opt_in.Listing.available_to|date('d-m-Y') }}
                        {% else %}
                            for an indefinite period
                        {% endif %}
                    </td>
                    <td>{{ opt_in.date|date('d-m-Y') }}</td>
                    <td>{{ opt_in.message }}</td>
                    <td><b>{{ opt_in.status|upper }}</b></td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}