{% extends "generic.twig" %}

{#TODO Make newer comments appear on top#}
{#TODO Remove extra room info at bottom#}

{% block title %}Reactions{% endblock %}
{% block page_stylesheet %}
    <link rel="stylesheet" href="{{ static('css/reactions.css') }}" type="text/css">
{% endblock %}
{% block content %}
    {% for listing in all_info %}
        {% set room = listing.room %}
        <div class="roominfo">
            {% if room.picture %}
                <img id='room_picture' src="{{ uploads('room/' ~ room.picture) }}"
                     alt="The picture of the room">
            {% else %}
                <img id='room_picture' src="{{ static('images/room_placeholder.jpg') }}"
                     alt="A placeholder (because no picture was uploaded)">
            {% endif %}
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Size</th>
                    <td>{{ room.size }}m<sup>2</sup></td>
                </tr>
                <tr>
                    <th scope="row">Price</th>
                    <td>&euro;{{ room.price }}</td>
                </tr>
                <tr>
                    <th scope="row">City</th>
                    <td>{{ room.city|capitalize }}</td>
                </tr>
                <tr>
                    <th scope="row">Street</th>
                    <td>{{ room.street_name|capitalize ~ " " ~ room.number}}</td>
                </tr>
                <tr>
                    <th scope="row">Postal Code</th>
                    <td>{{ room.zipcode }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        {% for reaction in listing['opt_in'] %}
        {% if reaction.status != 'cancelled' and reaction.status != 'rejected' %}
        <div class="card" style="width: 50rem;">
            <div class="card-header">
                Reaction to your room at {{ room.street_name|capitalize ~ " " ~ room.number}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ reaction.user.first_name }} {{ reaction.user.last_name }} said:</h5>
                <p class="card-text">{{ reaction.message }}</p>
                <a href="{{ url('account/u/' ~ reaction.user.username) }}">
                    <button class="square_button">Go to profile</button>
                </a>
                {% if reaction.status == 'open' %}
                    <a href="{{ url('rooms/list/assign/' ~ reaction.opt_in_id) }}">
                        <button class="square_button">Room is yours!</button>
                    </a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock %}