{% extends "generic.twig" %}

{% block title %}Room Overview{% endblock %}
{% block page_stylesheet %}
    <link rel="stylesheet" href="{{ static('css/rooms.css') }}" type="text/css">
{% endblock %}
{% block content %}
    {#    just for styling, needs to be created with php#}

    <div id="rooms_overview">
        {% for listing in all_rooms %}
            {% if listing.room %}
                {# the page is viewed as listings #}
                {% set room = listing.room %}
            {% else %}
                {# the page is viewed as rooms #}
                {% set room = listing %}
                {% set listing = room.listing.0 %}
            {% endif %}
            {% autoescape %}
                <div class="card">
                    {% if not listing %}
                        <div class="alert alert-warning" role="alert">
                            This room is currently not listed.
                        </div>
                    {% else %}

                        {# this loop makes the button turn to 'cancel' if you already opted-in and shows a banner #}
                        {% set is_liked = 0 %}
                        {% for opt_in in my_optins %}
                            {% if opt_in.listing_id == listing.listing_id and not is_liked %}
                                {% set is_liked = 1 %}
                                <div class="alert alert-success" role="alert">
                                    You have opted-in to this room
                                </div>
                            {% endif %}
                        {% endfor %}

                    {% endif %}
                    {% if not room.picture %}
                        <img src="{{ static('images/room_placeholder.jpg') }}" class="card-img-top" alt="Pic of room">
                    {% else %}
                        <img src="{{ uploads('room/' ~ room.picture) }}" class="card-img-top"
                             alt="{{ room.description }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ room.type|title }} in {{ room.city }}</h5>
                        <p class="card-text"><b>{{ room.street_name|title ~ ' ' ~ room.number }}</b></p>
                        <p class="card-text">{{ room.description }}</p>
                        {% if listing.available_from %}
                            <p class="card-text">Available from: {{ listing.available_from|date('d-m-Y') }}</p>
                        {% endif %}
                        {% if listing and listing.available_to %}
                            <p class="card-text">Available to: {{ listing.available_to|date('d-m-Y') }}</p>
                        {% elseif listing %}
                            <p class="card-text">Available Indefinite</p>
                        {% endif %}
                        <a href="{{ url('rooms/' ~ room.room_id) }}">
                            <button class="square_button">More details</button>
                        </a>
                        {% if user.role == 'tenant' and listing %}
                            {% if is_liked %}
                                <a href="{{ url('rooms/opt-in/cancel/' ~ listing.listing_id) }}">
                                    <button class="square_button">
                                        <i class="fad fa-heart-broken colored-icon-reverse"></i> Cancel opt-in.
                                    </button>
                                </a>
                            {% else %}
                                <a href="{{ url('rooms/opt-in/' ~ listing.listing_id) }}">
                                    <button class="square_button">
                                        <i class="fad fa-heart colored-icon-reverse"></i> I want this room!
                                    </button>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endautoescape %}
        {% endfor %}
    </div>

{% endblock %}

