{% extends "generic.twig" %}

{% block title %}Room ...{% endblock %}
{% block page_stylesheet %}
    <link rel="stylesheet" href="{{ static('css/room.css') }}" type="text/css">
{% endblock %}
{% block content %}
    <div id="room_page">
        <div id="room_content">
            {% if room.picture %}
                <img id='room_picture' src="{{ uploads('room/' ~ room.picture) }}"
                     alt="The picture of the room">
            {% else %}
                <img id='room_picture' src="{{ static('images/room_placeholder.jpg') }}"
                     alt="A placeholder (because no picture was uploaded)">
            {% endif %}
            <h1 id="introtext">{{ room.type }} at {{ room.street_name|capitalize ~ " " ~ room.number }}</h1>
            <p class="des">{{ room.description }}</p>
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Size</th>
                    <td>{{ room.size }}m<sup>2</sup></td>
                </tr>
                <tr>
                    <th scope="row">Price</th>
                    <td>&euro;{{ room.price }}</td>
                </tr>
                <tr>
                    <th scope="row">City</th>
                    <td>{{ room.city|capitalize }}</td>
                </tr>
                <tr>
                    <th scope="row">Street</th>
                    <td>{{ room.street_name|capitalize ~ " " ~ room.number }}</td>
                </tr>
                <tr>
                    <th scope="row">Postal Code</th>
                    <td>{{ room.zipcode }}</td>
                </tr>
                </tbody>
            </table>


            {# Card displaying the owner of the room#}
            <div id="owner_info_row">
                {% if owner.picture %}
                    <img id='profile_picture' src="{{ uploads('user/' ~ owner.picture) }}"
                         alt="Profile picture of the owner">
                {% else %}
                    <img id='profile_picture' src="{{ static('images/placeholder_owner.png') }}"
                         alt="Profile picture of the owner">
                {% endif %}
                <div>
                    <a class="toowner" style="background-color:black" href="{{ url('account/u/' ~ owner.username) }}">
                        <h4>{{ owner.first_name|capitalize ~ " " ~ owner.last_name|capitalize }}</h4>
                        <p>Owner of {{ amount_of_rooms }} rooms on RoomHub.</p>
                    </a>
                </div>
            </div>

            <div id='map' style="width: 100%">
                <iframe width="100%" height="200"
                        src="https://maps.google.com/maps?width=100%&amp;height=200px&amp;hl=en&amp;q={{ room.number }}%20{{ room.street_name }}%20{{ room.city }}&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                </iframe>
            </div>

            {# if there is an active listing for this room, show opt in/out buttons for tenant #}
            {% if active_listing and user.role == 'tenant' and opted %}

                <a id='optin_button' href="{{ url('rooms/opt-in/cancel/' ~ active_listing) }}">
                    <button class="btn btn-xlarge btn-dark">
                        <i class="fad fa-heart-broken colored-icon-reverse"></i> Cancel opt-in.
                    </button>
                </a>
            {% elseif active_listing and user.role == 'tenant' %}

                <a id='optin_button' href="{{ url('rooms/opt-in/' ~ active_listing) }}">
                    <button class="btn btn-xlarge btn-dark">
                        <i class="fad fa-heart colored-icon-reverse"></i> I want this room!
                    </button>
                </a>
            {% endif %}
        </div>
        {% set listings = room.listing %}

        {# show controls and information for the owner of this room #}
        {% if user.role == 'owner' and room.owner_id == user.user_id %}
            <div id="owner_room_info">
                <h2> Owner panel </h2>
                <p>Only you get to see this.</p>
                <a href="{{ url('rooms/edit/' ~ room.room_id) }}">
                    <button class="btn btn-xlarge btn-dark">
                        <i class="fad fa-edit colored-icon light-icon"></i> Edit my room
                    </button>
                </a>
                {% if listings %}
                    {% for listing in listings %}

                        {% if listing.status == 'open' %}
                            <br/>

                            <a href="{{ url('rooms/list/edit/' ~ listing.listing_id) }}">
                                <button class="btn btn-xlarge btn-dark">
                                    <i class="fad fa-pencil colored-icon light-icon"></i> Edit active listing
                                </button>
                            </a>

                        {% endif %}
                        <br/>
                        <a href="{{ url('account/reactions?listing_id=' ~ listing.listing_id) }}">
                            <button class="btn btn-xlarge btn-dark">
                                <i class="fad fa-comments colored-icon light-icon"></i> Show reactions for
                                [{{ listing.status }}] {{ listing.available_from|date('d-m-Y') }}
                            </button>
                        </a>

                    {% endfor %}
                    <br/>
                    <a href="{{ url('rooms/delete/' ~ room.room_id) }}">
                        <button class="btn btn-xlarge btn-dark" onclick="return confirm('are you sure?')">
                            <i class="fad fa-bomb colored-icon light-icon"></i> Destroy my room
                        </button>
                    </a>

                {% else %}
                    <div class="alert alert-danger" role="alert">
                        This room is not listed yet!
                    </div>
                    <a href="{{ url('rooms/list/add/' ~ room.room_id) }}">
                        <button class="btn btn-xlarge btn-dark">
                            <i class="fad fa-list colored-icon light-icon"></i> List this room
                        </button>
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}