{% extends "generic.twig" %}

{% block title %}Add Room{% endblock %}
{% block page_stylesheet %}
    <link rel="stylesheet" href="{{ static('css/room_new.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ static('css/header.css') }}" type="text/css">
{% endblock %}
{% block content %}
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputDescription">Description</label>
            <textarea name="description" class="form-control" id="inputDescription"
                      placeholder="Tell sth about the room">{{ room_info.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="inputPrice">Price per month (in euro's)</label>
            <input type="text" class="form-control" name="price" id="inputPrice" placeholder="350" value="{{ room_info.price }}" required>
        </div>
        <div class="form-group">
            <label for="inputSize">How many m<sup>2</sup> is your room</label>
            <input type="text" class="form-control" id="inputSize" placeholder="18" name="size" value="{{ room_info.size }}" required>
        </div>
        <div class="form-group">
            <label for="inputType">Type of room</label>
            <input type="text" class="form-control" id="inputType" placeholder="Appartment/Studio" name="type" value="{{ room_info.type }}" required>
        </div>

        <div class="form-group">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" placeholder="Groningen" name="city" value="{{ room_info.city }}"
                   required>
        </div>

        <div class="form-group">
            <label for="inputZipcode">ZipCode</label>
            <input type="text" class="form-control" id="inputZipcode" placeholder="0000AA" name="zipcode" value="{{ room_info.zipcode }}"
                   required>
        </div>
        <div class="form-group">
            <label for="inputStreetname">Streetname</label>
            <input type="text" class="form-control" id="inputStreetname" placeholder="Muilslaan 5" name="street_name" value="{{ room_info.street_name }}"
                   required>
        </div>
        <div class="form-group">
            <label for="inputNumber">Street number</label>
            <input type="text" class="form-control" id="inputNumber" placeholder="6/20B" name="number" value="{{ room_info.number }}"
                   required>
        </div>
        <div class="form-group">
        <label for="images">Select image to upload:</label>
            <input type="file" name="fileToUpload" id="fileToUpload" class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary">Publish your room!</button>
    </form>
{% endblock %}
