{% extends "generic.twig" %}

{% block title %}Room Overview{% endblock %}
{% block page_stylesheet %}
    <link rel="stylesheet" href="{{ static('css/rooms.css') }}" type="text/css">
{% endblock %}
{% block content %}
    {#    just for styling, needs to be created with php#}

    <div id="rooms_overview">
        {% for listing in all_rooms %}
            {% if listing.room %}
                {# the page is viewed as listings #}
                {% set room = listing.room %}
            {% else %}
                {# the page is viewed as rooms #}
                {% set room = listing %}
                {% set listing = room.listing.0 %}
            {% endif %}
            {% autoescape %}
                <div class="card">
                    {% if not room.picture %}
                        <img src="{{ static('images/room_placeholder.jpg') }}" class="card-img-top" alt="Pic of room">
                    {% else %}
                        <img src="{{ uploads('room/' ~ room.picture) }}" class="card-img-top"
                             alt="{{ room.description }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ room.type|title }} At {{ room.street_name|title }}</h5>
                        <p class="card-text"><b>{{ room.street_name|title ~ ' ' ~ room.number }}</b></p>
                        <p class="card-text">{{ room.description }}</p>
                        {% if listing.available_from %}
                            <p class="card-text">{{ listing.available_from|date }}</p>
                        {% endif %}
                        <a href="{{ url('rooms/' ~ room.room_id) }}">
                            <button class="square_button">More details</button>
                        </a>
                        {% if user.role == 'tenant' %}
                            <a href="{{ url('rooms/opt-in/' ~ listing.listing_id) }}">
                                <button class="square_button">
                                    <i class="fad fa-heart colored-icon-reverse"></i> I want this room!
                                </button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endautoescape %}
        {% endfor %}
    </div>

{% endblock %}

