{% extends "generic.twig" %}

{% block title %}Room ...{% endblock %}
{% block content %}
    Hier specifieke room info<br/>
    {% if room.picture %}
        <img id='room_picture' src="{{ uploads('room/' ~ room.picture) }}"
             alt="The picture of the room">
    {% else %}
        <img id='room_picture' src="{{ static('images/room_placeholder.jpg') }}"
             alt="A placeholder (because no picture was uploaded)">
    {% endif %}
    <br/>
    {{ room }}<br/>

    {% if user.role == 'owner' and room.owner_id == user.user_id %}
        <a href="{{ url('rooms/edit/' ~ room.room_id) }}">
            <button class="btn btn-xlarge btn-dark">
                <i class="fad fa-edit colored-icon light-icon"></i> Edit my room
            </button>

        </a>
        {% if listings %}
            {% for listing in listings %}
                {{ listing }}

                {% if listing.status == 'open' %}
                    <li> ... show interested people here + accept-button ...</li>

                    <a href="{{ url('rooms/list/edit/' ~ listing.listing_id) }}">
                        <button class="btn btn-xlarge btn-dark">
                            <i class="fad fa-pencil colored-icon light-icon"></i> Edit active listing
                        </button>
                    </a>

                {% endif %}

            {% endfor %}

        {% else %}
            <div class="alert alert-danger" role="alert">
                This room is not listed yet!
            </div>
            <a href="{{ url('rooms/list/add/' ~ room.room_id) }}">
                <button class="btn btn-xlarge btn-dark">
                    <i class="fad fa-list colored-icon light-icon"></i> List this room
                </button>

            </a>
        {% endif %}

    {% elseif user.role == 'tenant' %}
        <!-- todo: check if opted-in -->

        <a href="{{ url('rooms/opt-in/' ~ listings.listing_id) }}">
            <button class="btn btn-xlarge btn-dark">
                <i class="fad fa-heart colored-icon-reverse"></i> I want this room!
            </button>
        </a>
    {% endif %}
{% endblock %}